#menue {
    background-color: yellow;
    margin-bottom: 5px;
    
}
ul li {
    display: inline;
}
ul li ul li {
    display: none;
}
div {
    display :inline-block
    
}
#red {
    background-color: red;
    width: 33%;
    height: 200px;
}

#green {
    background-color: green;
    width: 33%;
    height: 200px;
}
#blue {
    background-color: blue;
    width: 33%;
    height: 200px;
}